<h1>This is dashboard</h1>

<br>

<p appHighlight >Hover me to see custom color on me & click to change color green. This is created using a custom attribute directive</p>

<p appRotate>Hover me to see me jump & click to bring me back to initial position. This is created using a custom attribute directive</p>

<p appEllipsis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptatum, doloremque mollitia architecto dolor natus? Perspiciatis voluptatibus autem nostrum laudantium modi eos sit dolore aliquam tempore saepe, repellat vel ad.</p>